@model Document

<form method="post" enctype="multipart/form-data">
    @* Gizli DocumentId alanı *@
    <input type="hidden" asp-for="DocumentId" />    @* DocumentId'yi formdan sunucuya göndermek için *@

    <div class="border p-3 mt-5">
        <div class="row pb-3">
            <h2 class="text-primary">Edit Document</h2>
            </hr>
        </div>

        <div class="mb-3">
            <label asp-for="DocumentTitle" class="p-0"></label>
            <input asp-for="DocumentTitle" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="DocumentDescription" class="p-0"></label>
            <input asp-for="DocumentDescription" class="form-control" />
        </div>

        <!-- Mevcut Dosya Bilgisini Göster -->
        <div class="mb-3">
            <label>Current Document:</label>
            @if (!string.IsNullOrEmpty(Model.FilePath))
            {
                <div>
                    <a href="@Url.Content("~/" + Model.FilePath)" target="_blank">@Model.FilePath</a>
                </div>
            }
            else
            {
                <span>No file uploaded</span>
            }
        </div>

        <!-- Dosyayı Değiştirme Opsiyonu -->
        <div class="mb-3">
            <label>Change Document (optional):</label>
            <input type="file" class="form-control" id="fileUpload" name="file" accept=".pdf,.doc,.docx,.xlsx,.png,.jpg,.jpeg" />
        </div>


        <div class="mb-3">
            <label asp-for="CategoryId" class="form-label"></label>
            <select asp-for="CategoryId" class="form-control">
                <option value="" disabled selected>Select a category</option>
                @foreach (var category in ViewBag.Categories)
                {
                    <option value="@category.CategoryId">@category.CategoryName</option>
                }
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="CreatedByUserId" class="form-label"></label>
            <select asp-for="CreatedByUserId" class="form-control">
                <option value="" disabled selected>Select a user</option>
                @foreach (var user in ViewBag.Users)
                {
                    <option value="@user.UserId">@user.UserName</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-warning">Edit</button>
        <a asp-controller="Document" asp-action="Index" class="btn btn-primary">Close</a>
    </div>
</form>
